<head>

</head>
<body>
    <h2>Thanh toán <span style="color:red;font-weight:bold">VN</span><span style="color:blue;font-weight:bold">PAY</span></h2>
    <form method="post" asp-action="VNPay" asp-controller="cart">
        <div class="form-group">
            <label>Loại hàng hóa</label>
            <select name="OrderCategory" class="form-control">
                <option selected>Chọn loại hàng hóa</option>
                <option value="topup">Nạp tiền điện thoại</option>
                <option value="billpayment">Thanh toán hóa đơn</option>
                <option value="fashion">Thời trang</option>
                <option value="other">Thanh toán trực tuyến</option>
            </select>
        </div>
        <div>@ViewBag.Amount</div>
        <div class="form-group">
            <label>Số tiên</label>
            <input name="Amount" type="number" value="@ViewBag.Amount"  class="form-control" />
        </div>
        <div class="form-group">
            <label>Nội dung thanh toán</label>
            <textarea name="txtOrderDesc" class="form-control" rows="2"></textarea>
        </div>
        
        <input type="submit" class="btn btn-primary" value="Thanh toán"/>


    </form>
</body>