<head>
    <style>
        .main {
            display: flex;
            justify-content: center;
        }

            .main > div {
                border: 1px solid none;
                border-radius: 10px;
                padding: 20px;
                width: 300px;
                height: 400px;
                background-color: antiquewhite;
                height: 200px;
            }

        h3 {
            text-align: center;
        }

        h4 {
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="body2">
        <h3>
            Forgot Password?
        </h3>
        <h4>
            Fill exactly you email
        </h4>
        <div class="main">
            <div>
                <h4>Register User</h4>
                <form method="post" asp-controller="Accounts" asp-action="ForgotPassword">
                    <div class="form-group">
                        <label>Nhập chính xác Email của bạn</label>
                        <input name="email" class="form-control col-12" placeholder="Please fill your Email" />
                    </div>                   
                    <input type="submit" class="btn btn-success col-12" value="Send" />
                </form>

            </div>
        </div>
    </div>
</body>
