@model ViewModel.ViewModels.ResetPassword

<head>
    <style>
        .main {
            display: flex;
            justify-content: center;
        }

            .main > div {
                border: 1px solid none;
                border-radius: 10px;
                padding: 20px;
                width: 300px;
                height: 400px;
                background-color: antiquewhite;
                height: 500px;
            }

        h3 {
            text-align: center;
        }

        h4 {
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="body2">
        <h3>
            Quên mật khẩu?
        </h3>
        <div class="main">
            <div>
                <h4>Register User</h4>
                <form method="post" asp-controller="Accounts" asp-action="ResetPassword">
                    <div class="form-group">
                        <label>Email</label>
                        <input   asp-for="Email" type="email" class="form-control col-12" value="@ViewBag.Email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>Mật khẩu mới</label>
                        <input asp-for="NewPass" type="password" class="form-control col-12" placeholder="Please fill your Password" />
                        <span asp-validation-for="NewPass" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>Xác nhận mật khẩu mới</label>
                        <input asp-for="ConfirmNewPass" type="password" class="form-control col-12" placeholder="Please fill your PasswordConfirm" />
                        <span asp-validation-for="ConfirmNewPass" class="text-danger"></span>
                    </div>
                    <input asp-for="Code" value="@ViewBag.Code" hidden />
                    <input type="submit" class="btn btn-success col-12" value="Gửi" />
                </form>

            </div>
        </div>
    </div>
</body>
