@model IEnumerable<ViewModel.ViewModels.ProductVm>
@using X.PagedList
@using X.PagedList.Mvc.Core
@{ 
    Layout = null;
}
<!DOCTYPE html>
<!--
    ustora by freshdesignweb.com
    Twitter: https://twitter.com/freshdesignweb
    URL: https://www.freshdesignweb.com/ustora/
-->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shop Page- Ustora Demo</title>

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,700,600' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,100' rel='stylesheet' type='text/css'>

    <!-- Bootstrap -->

</head>
<body>

   
        <div class="single-product-area col-sm-8">
            <div class="zigzag-bottom"></div>
            <div class="container">
                <div class="row">
                    <!---->
                    @foreach (var item in Model)
                    {
                        var a = (int)item.Price;
                        string res = a.ToString("#,##0");
                        <div class="col-sm-3 ml-2">
                            <div class="single-shop-product">
                                <div class="product-upper">
                                    <img style="height:180px;width:140px" src="~/@item.PhotoReview" alt="">
                                </div>
                                <h2><a href="">@item.ProductName</a></h2>
                                <div class="product-carousel-price">
                                    <ins>@res</ins> <label>VND</label>
                                </div>

                                <div class="product-option-shop">
                                    <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" href="/canvas/shop/?add-to-cart=70">Add to cart</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>

   
</body>
</html>

@section Scripts{ }
<script>
    var slider1 = document.getElementById('pricemin');
    var slider2 = document.getElementById('pricemax');

    var output1 = document.getElementById("demo1")
    var output2 = document.getElementById("demo2")

    output1.innerHTML = slider1.value;
    output2.innerHTML = slider2.value;

    slider1.oninput = function () {
        output1.innerHTML = this.value;
    }

    slider2.oninput = function () {
        output2.innerHTML = this.value;
    }
</script>
}