
<div style="height:500px;display:flex;justify-content:center;align-items:center">
    <div >
        <img  src="~/Images/no-products-found.png" />
    </div>
  <div style="font-size:20px">Không tìm thấy sản phẩm</div>
</div>