@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
    <!-- Step 1 - Include the fusioncharts core library -->
    <script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.js"></script>
    <!-- Step 2 - Include the fusion theme -->
    <script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.fusion.js"></script>
</head>
<body>
    <div id="chart-container"></div>
</body>


@section Scripts{ 
<script>
    const categories = [
        {
            "category": [
                { "label": "1" },
                { "label": "2" },
                { "label": "3" },
                { "label": "4" },
                { "label": "5" },
                { "label": "6" },
                { "label": "7" },
                { "label": "8" },
                { "label": "9" },
                { "label": "10" },
                { "label": "11" },
                { "label": "12" },
                { "label": "13" },
                { "label": "14 "},
                { "label": "15" },
                { "label": "16" },
                { "label": "17" },
                { "label": "18" },
                { "label": "19" },
                { "label": "20" },
                { "label": "21" },
                { "label": "22" },
                { "label": "23" },
                { "label": "24" },
                { "label": "25" },
                { "label": "26" },
                { "label": "27" },
                { "label": "28" },
                { "label": "29" },
                { "label": "30" },

            ]
        }
    ];
    // Construct the dataset comprising multiple series
    const dataset = [
        {
            "seriesName": "Profit",
            "renderAs": "area",
            "data": [
                { "value": "4000" },
                { "value": "5000" },
                { "value": "3000" },
                { "value": "4000" },
                { "value": "1000" },
                { "value": "7000" },
                { "value": "1000" },
                { "value": "4000" },
                { "value": "1000" },
                { "value": "8000" },
                { "value": "2000" },
                { "value": "7000" },
                { "value": "4000" },
                { "value": "5000" },
                { "value": "3000" },
                { "value": "4000" },
                { "value": "1000" },
                { "value": "7000" },
                { "value": "1000" },
                { "value": "4000" },
                { "value": "1000" },
                { "value": "8000" },
                { "value": "2000" },
                { "value": "7000" },
                { "value": "4000" },
                { "value": "5000" },
                { "value": "3000" },
                { "value": "4000" },
                { "value": "1000" },
                { "value": "7000" }
            ]
        }
    ];

    //STEP 3 - Chart Configurations
    var chartConfigurations = {
        type: 'mscombi2d',
        renderAt: 'chart-container',
        width: '1000',
        height: '600',
        dataFormat: 'json',
        dataSource: {
            "chart": {
                "caption": "Truong Company",
                "subCaption": "User Access analysis of last year",
                "xAxisname": "Day",
                "yAxisName": "Access",
                "numberPrefix": "",
                "divlineColor": "#999999",
                "divLineIsDashed": "1",
                "divLineDashLen": "1",
                "divLineGapLen": "1",
                "toolTipColor": "#ffffff",
                "toolTipBorderThickness": "0",
                "toolTipBgColor": "#000000",
                "toolTipBgAlpha": "80",
                "toolTipBorderRadius": "2",
                "toolTipPadding": "5",
                "theme": "fusion"
            },
            "categories": categories,
            "dataset": dataset
        }
    }
    FusionCharts.ready(function () {
        var fusioncharts = new FusionCharts(chartConfigurations);
        fusioncharts.render();
    });
</script>
}


