@{ 
    Layout = null;
}
@model ViewModel.ViewModels.LoginVm
<head>
    <style>
        body{
            background-color:aqua
        }
    </style>
</head>
<body>
    <div class="container h-100">
        <div class="d-flex row h-100 justify-content-center align-items-center">
            <form method="post"  asp-action="Login"   >
                <div class="form-group">
                    <label asp-for="UserName">Tên Đăng Nhập:</label>
                    <input asp-for="UserName" type="text" class="form-control sm-6" />
                </div>
                <div class="form-group">
                    <label asp-for="Pass">Mật khẩu</label>
                    <input asp-for="Pass" type="password" class="form-control  sm-6" />
                </div>
                <div class="form-group">
                    <input asp-for="RememberMe" type="checkbox" />
                    <label asp-for="RememberMe">@Html.DisplayNameFor(m=>m.RememberMe)</label>
                </div>

                <button class="btn btn-primary" type="submit">Login</button>
            </form>
            <a href="/Admin/Account/Register">
                <input type="button" class="btn btn-light" value="Register" />
            </a>
        </div>
    </div>
</body>