@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ProductCreateVm</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SendEmail" asp-controller="Account" enctype="multipart/form-data" method="post">
            <div class="form-group">
                <label class="control-label">To</label>
                <input name="To" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Subject</label>
                <input name="Subject" class="form-control" />
            </div>
            <div class="form-group">
                <label  class="control-label">Body</label>
                <input name="Body" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
        <h5>@ViewBag.Message</h5>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

