@model IEnumerable<ViewModel.ViewModels.BrandVm>

@{
    Layout = null;
}



<table class="table ">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdBrand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BrandName)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdBrand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BrandName)
                </td>

                <td>
                    <a href="/Admin/Brand/Edit/?IdBrand=@item.IdBrand">Edit</a>|
                    <a href="/Admin/Brand/Delete/?IdBrand=@item.IdBrand">Delete</a>|

                </td>
            </tr>
        }


    </tbody>
</table>
