/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

#editplace {
    border: 3px solid #eb6619;
    display: block;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
    width: 100px;
    display: inline-block;
    color: #eb6619
}

    #editplace:hover {
        color: white;
        background-color: #eb6619;
    }

#deleteplace {
    border: 3px solid black;
    display: block;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    width: 50px;
    color: black
}

    #deleteplace:hover {
        color: white;
        background-color: black;
    }

#detailsbutton {
    border: 3px solid #FF392B;
    display: block;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
}

    #detailsbutton:hover {
        color: white;
        background-color: #FF392B;
    }
#createbutton {
    border: 3px solid #808080;
    display: block;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
}
    #createbutton:hover {
        color: white;
        background-color: #808080;
    }

#person1 {
    height: 500px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    display:flex;
    justify-content:center;
    align-items:center;

}

#person2 {
    height: 500px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
}