@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@inject IHttpContextAccessor HttpContextAccessor

@{
    var session = HttpContextAccessor.HttpContext.Session;
    string jsoncart = session.GetString(Data.Utilities.Constants.SystemConstants.AppSettings.CARTKEY);

    if (jsoncart != null)
    {
        var cart = JsonConvert.DeserializeObject<List<ViewModel.ViewModels.CartItem>>(jsoncart);
        <span id="cartcount" class="product-count">@cart.Count</span>
    }
    else
    {
        <span id="cartcount" class="product-count">0</span>

    }
}